body{
    background: url(imag/mariogame.jpg) no-repeat;
    display: flex;
    background-size: cover;
}
.center{
    background-color: aliceblue;
    margin: 0 auto;
    border: 15px double ;
    align-items: stretch;
    position: absolute;
    left: 100px;
    top: 650px;
}